.main{
    display : flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    transform: translateX(-1.7rem);
}

.main label{
    font-weight: bold;
    color: rgb(165, 207, 165);
    margin-right: 0.5rem;
}

.main input{
    width: 50%;
    border-radius: 1.5rem;
   padding: 0.3rem;
   background-color: rgba(0, 0, 0, 0.367);
   color: white;
   border-color: rgba(144, 238, 144, 0.351)
}

